<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Agregar Nuevo Libro</h1>
<form  action="#" th:action="@{/formlibro}" th:object="${libro}" method="post">

	<label>Titulo:</label>
	<input type="text" th:field="*{s_titulo}"> 
	<span th:errors="*{s_titulo}" style= color:#E81505></span><br>

	<label>Autor:</label> 
	<input type="text" th:field="*{s_autor}"> 
	<span th:errors="*{s_autor}" style= color:#E81505></span><br>

	<label>ISBN:</label> 
	<input type="text" th:field="*{s_isbn}"> 
	<span th:errors="*{s_isbn}" style= color:#E81505></span><br>

	<label>Categoria:</label> 
	<select th:field="*{categoria.c_categoria}" id="categoria">
	<option th:each="categ, row: ${categorias}" th:value="${categ.c_categoria}" th:text="${categ.s_categoria}"></option>
	</select>
	
	<label>Estado:</label> 
	<input type="radio" th:field="*{estado}" th:value="true">
	<input type="radio" th:field="*{estado}" th:value="false">

	<input type="submit" value="Guardar"> 
</form>
</body>
</html>